.title-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100dvh;
}

.title-container > * {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
}

.title-container > .title {
  font-size: 20vw;
}

.title-container > .background {
  background-color: white;
}
